# este archivo es para guardar configuraciones, urls credenciales etc 
#aun no hacemos bd pero solo es un ejemplo, 
#el server pues como ahorita esta local debe aparecer en esa url cuando esta encendido el server 
# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=diagnostico
DB_USER=postgres
DB_PASSWORD=your_password_here

# Server
SERVER_URL=http://127.0.0.1:8000/metrics

